<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leandro.soundaroundapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".controllers.LoginController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SOUND AROUND"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Album"
            android:label="@string/title_activity_album"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Register" />
        <activity
            android:name=".AlbumDetail"
            android:label="@string/title_activity_album_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ListMusic" />
        <activity
            android:name=".CustomListMusic"
            android:label="@string/title_activity_custom_list_music"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AlbumNovo" />
        <activity android:name=".MusicDetail" />
        <activity android:name=".MusicNova"></activity>
    </application>

</manifest>